{
    "semi": false,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "printWidth": 70,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": true,
    "jsxSingleQuote": true,
    "endOfLine": "crlf",
    "plugins": ["prettier-plugin-tailwindcss"]
}
